h1 {
    font-size: 30px;
    font-style: italic;
}

#section2 {
    display: flex;
    font-style : normal;
    color : darkblue;
}

#section3 {
    display: flex;
    font-style : normal;
    color : darkblue;
}

footer ul {
    display: flex;
    justify-content: center; /* Aligne les boutons au centre */
    gap: 20px; /* Espace uniforme entre les boutons */
    padding: 0; /* Supprime les éventuels espaces par défaut */
    list-style: none; /* Supprime les puces des listes */
}

footer ul li {
    margin: 0;
}

footer ul a {
    text-decoration: none;
    font-size: 25px;
    padding: 10px 20px; /* Ajoute du padding à l'intérieur des boutons */
    background-color: cornflowerblue; /* Couleur de fond pour les boutons */
    color: white; /* Couleur du texte */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Animation sur le survol */
}

footer ul a:hover {
    background-color: #0056b3; /* Couleur au survol */
}