h2, h1 {
    margin: 0;
    text-align: center;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 30px;
    font-style: italic;
}
p {
    font-size: 15px;
    font-style: oblique;
}

#passetemps {
    width: 400px;
}

#section1 {
    display: flex;
    justify-content: space-around;
}